/* Default styles for larger screens */
.image-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  padding: 30px;
  border: 1px solid #ffffff;
  position: relative;
}

.App {
  max-width: 1200px;
  margin: 50px auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.selected-count {
  padding-right:30px;
  padding-left:30px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}

.delete-button {
  border:0;
  background-color:transparent;
  color:red;
}

.image {
  border: 1px solid #c2bebe;
  position: relative;
  transition: border 0.2s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
}

.item1 {
  grid-row: 1/3;
  grid-column: 1/3;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.image-actions {
  position:absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.image-actions input {
  display: none;
}

.image:hover .image-actions {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.6);
}

.image-actions:hover input {
  display: block;
  
}

.image-actions input[type=checkbox]:checked  {
  display: block;
} 


.image.featured {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.image.selected {
  opacity: 0.6 ;
  transition: opacity 0.3s ease-in-out;
}

.image.deleted {
  animation: slide-out 0.3s ease-in-out;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Media Query for screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: auto auto;
  }

  .selected-count {
    left: 20px;
    top: 10px;
  }

  .delete-button {
    right: 20px;
    top: 20px;
    position: absolute;
  }
}

/* Media Query for screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: auto auto;
  }
}

/* Media Query for screens between 768px and 1024px (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .image-gallery {
    grid-template-columns: auto auto auto;
  }
}
